<%= stylesheet_link_tag 'user_new', media: 'all' %>

<div id="title" class="user_new">
  <div class="slogans">
		<div class="slogan">
		  Sign Up
		</div>
		<div class="secondary-slogan">
			ユーザー登録
		</div>
	</div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <p class="notice">*：必須</p>
        <%= render 'form', user: @user %>
        <div class="disclaimer">
          <p class="infobox">
            【利用規約】<br /><br />
            
            &nbsp;&nbsp;本Webサイトの使用は、お客様ご自身の責任でなされるものとします。すべてのサービスには、いかなる保証も適用されません。本Webサイト運用者は、適用される法律の許す限りにおいて、法律上の瑕疵担保責任、商品性の保証、特定目的への適合性の保証、権利の不侵害の保証を含むいかなる明示もしくは黙示の保証責任も一切負いません。また、本Webサイト運用者は、本Webサイトが中断しないこと、時事性、安全性、もしくは誤りがないことを保証しません。<br /><br />
            
            &nbsp;&nbsp;お客様が本Webサイトを利用する場合は、お客様ご自身の判断および責任において行っていただくこと、また、その結果として発生するデータの損失またはお客様のコンピューター・システムへの損傷などのいかなる損害もすべてお客様の責任となることを理解し、同意するものとします。<br /><br />
            
            &nbsp;&nbsp;お客様が本Webサイトの情報を使用すること、または、他のハイパー・リンクされているWebサイトを使用することに起因して発生する直接的損害、間接的損害、偶発的損害、通常の損害、特別の損害あるいはその他の拡大損害 (逸失利益、ビジネスの中断およびその他の損失を含むがこれに限られない) に対するいかなる責任も負いません。
          </p>
        </div>
        <div class="actions text-center">
          <%= button_tag type: 'submit', class:'btn button-user' do %>
            <i class="fa fa-arrow-circle-right"></i>  利用規約に同意して登録
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
   $('input:visible').eq(0).focus();
</script>