<%= stylesheet_link_tag 'toppage', media: 'all' %>

<div id="header" class="content-block">
	<section class="center">
		<div class="slogan">
			Learn what You want
		</div>
		<div class="secondary-slogan">
			The Best Jazz Lessons for You
		</div>
		<%= link_to new_user_path, class:'btn btn-o-white btn-lg' do %>
			Bridgerを始める
		<% end %>
	</section>
</div><!-- header -->

<!-- About us -->
    <div id="about" class="about-us">
        <div class="container about-sec">
            <header class="block-heading cleafix">
				<div class="title-page">
					<p class="main-header">About</p>
				    <p class="sub-header">Bridgerの特徴</p>
				</div>
			</header>
            <div class="divide50"></div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="about-item">
                        <i class="about-icon fa fa-search-plus"></i>
                        <h4 class="about-title">選べる分野</h4>
                        <p class="about-desc">楽器操作の基礎技術からインプロヴィゼーション、作曲まで●●種類の豊富なカテゴリーから学びたい分野を選び、各分野ごとに最適な講師にレッスンを受けることができます。</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="about-item">
                        <i class="about-icon fa fa-pagelines"></i>
                        <h4 class="about-title">柔軟な受講形態</h4>
                        <p class="about-desc">１レッスンあたりの時間や開催場所（オンライン/オフライン）の選択肢が複数用意されているため、あなたのライフスタイルに合ったレッスンを無理なく受けることができます。</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="about-item">
                        <i class="about-icon fa fa-credit-card"></i>
                        <h4 class="about-title">無料登録</h4>
                        <p class="about-desc">ユーザー登録は無料です。初期費用や会費等、レッスン料金の他に費用は一切かかりません。当サイトからの費用請求はありませんので、安心してご利用いただくことができます。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /About us -->

<div class="content-block" id="top-instructors">
	<div class="container top-instructors-sec">
		<header class="block-heading cleafix">
			<div class="title-page">
				<p class="main-header">Top Instructors</p>
			    <p class="sub-header">高評価の講師</p>
		    </div>
		</header>
		<section class="block-body">
			<div class="row">
				<div class="col-sm-4">
					<a href="#" class="instructor" style="background-image:url(/images/eval_instructor1.jpg)">
						<span class="btn btn-o-white">講師詳細へ</span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="instructor" style="background-image:url(/images/eval_instructor2.jpg)">
						<span class="btn btn-o-white">講師詳細へ</span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="instructor" style="background-image:url(/images/eval_instructor3.jpg)">
						<span class="btn btn-o-white">講師詳細へ</span>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="#" class="instructor" style="background-image:url(/images/eval_instructor4.jpg)">
						<span class="btn btn-o-white">講師詳細へ</span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="instructor" style="background-image:url(/images/eval_instructor5.jpg)">
						<span class="btn btn-o-white">講師詳細へ</span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="instructor" style="background-image:url(/images/eval_instructor6.jpg)">
						<span class="btn btn-o-white">講師詳細へ</span>
					</a>
				</div>
			</div>
		</section>
	</div>
</div><!-- #top-instructors -->

<div class="content-block parallax" id="howtos">
	<div class="container howtos-sec">
		<div class="title-page">
			<p class="main-header">How to Use </p>
		    <p class="sub-header">ご利用方法</p>
		</div>
		<section class="block-body">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="howto text-center">
						<i class="howto-icon fa fa-laptop"></i>
						<h4 class="howto-head">１. ユーザー登録</h4>
						<p>ユーザー登録は無料です。レッスン料金の他に費用は一切かかりません。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="howto text-center">
						<i class="howto-icon fa fa-search"></i>
						<h4 class="howto-head">２. 講師を探す</h4>
						<p>楽器、得意分野、レッスン形態、地域で講師情報の絞り込み検索ができます。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="howto text-center">
						<i class="howto-icon fa fa-envelope"></i>
						<h4 class="howto-head">３. メッセージを送る</h4>
						<p>レッスンを受講したい講師に、日程や場所の調整依頼のメッセージを送ります。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="howto text-center">
						<i class="howto-icon fa fa-music"></i>
						<h4 class="howto-head">４. レッスン受講</h4>
						<p>オンラインもしくはオフラインにて、マンツーマンレッスンを受講します。</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div><!-- #howtos -->


<div id="recruit" class="content-block">
	<!-- <section class="top clearfix">
		<div class="pull-left">
			<h1><a class="logo" href="index.html">Nevada <span class="logo-head">Plus</span></a></h1>
		</div>
		<! <div class="pull-right">
			<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
		</div> 
	</section>-->
	<section class="center">
		<div class="recruit-message">
			あなたの得意分野を活かしてみませんか？
		</div>
		<div class="secondary-recruit-message">
			Bridgerでは講師の募集を行なっております。
		</div>
	</section>
	<a href="#" class="text-center btn btn-o-white btn-lg">詳しくはこちら</a>
</div>

<div class="content-block" id="recent-instructors">
	<div class="container testimonial-sec">

		<header class="block-heading cleafix">
			<div class="title-page  pull-left">
				<p class="main-header">New Instructors</p>
			    <p class="sub-header">新たに登録された講師</p>
			</div>
		</header>
		
		<section class="block-body">
			<div class="row">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  	<!-- Indicators -->
				  	<ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  	</ol><!-- /.carousel-indicators -->


				  	<!-- Wrapper for slides -->
				  	<div class="carousel-inner" role="listbox">
					    <div class="item active">
					      	<div class="img-center">	
					      		<img class="img-circle circular-img" src="/images/latest1.jpg">
					      	</div>	
					      	<h4>
					      		アメリカを拠点に活躍する日本人ジャズ・トランペッター/作曲家。1972年に渡米、バークリー音楽大学を首席で卒業。80年代より自身のフュージョン・バンドを率い、1998年にニューポート・ジャズ・フェスティヴァルに出演。バークリー音楽大学教授。
					      	</h4>
					      
					    </div><!-- /.item -->
					    <div class="item">
					    	<div class="img-center">	
					      		<img class="img-circle circular-img" src="/images/latest2.jpg">
					      	</div>
					       	<h4>
										16歳から神戸や大阪のジャズ・クラブでの演奏活動をスタート。2003 年に渡米し、ニューヨークのニュースクール大学ジャズ課に進学。在学中からニューヨークの有名クラブに出演。 卒業後もニューヨーク・ブルックリンを拠点に国内外で活動。
					       	</h4>
					      
					    </div><!-- /.item -->
					    <div class="item">
					    	<div class="img-center">	
					      		<img class="img-circle circular-img" src="/images/latest3.jpg">
					        </div>
					       	<h4>
										17歳の時にチック・コリアと共演。1999年にボストンのバークリー音楽院に入学。在学中にジャズの名門テラークと契約し、2003年にアルバム『Another Mind』で世界デビュー。2008年にはチック・コリアとのアルバム『Duet』を発表。
					       	</h4>
					    </div><!-- /.item -->
				  	</div><!-- /.carousel-inner -->
				</div><!-- /.carousel slide -->
			</div>	
		</section><!-- /.block-body -->
	</div>
</div><!-- /#recent-instructors -->







