<%= stylesheet_link_tag 'lesson_index', media: 'all' %>

<div id="title" class="lesson_index">
  <div class="slogans">
		<div class="slogan">
			Instructors
		</div>
		<div class="secondary-slogan">
			講師一覧
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="row">
		  <% @lessons.each do |lesson| %>
		
			<div class="col-md-3 col-sm-6">
				<div class="instructor text-center">
		      <img class="img-circle circular-img" src="/images/latest1.jpg">
					<h4 class="instructor-head"><%= link_to lesson.instructor.name, lesson %></h4>
					<p>
					  楽器：<%= lesson.instruments.pluck(:ins_name_ja).join('、') %><br />
					  分野：<%= lesson.subjects.pluck(:subj_name_ja).join('、') %>
					</p>
				</div>
			</div>
			
			<% end %>
		</div>
	</div>
</div>

