.lesson_show {
  background: url("/images/lesson_show.jpg") no-repeat center center fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.content {
  padding-top: 60px;
  background: #ffffff;
}

.movie-wrap {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 0.8%;
}
 
.movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

h3 {
  padding: .25em 0 .2em .5em;
  border-left: 6px solid #34495e;
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 20px;
}

.explanation {
  margin-bottom: 50px;
}

.explanation p {
  margin-left: 3%;
}

.stars {
  margin: 0;/*余計な隙間を除く*/
  font-size: 23px;/*文字サイズ*/
  text-decoration: none;/*下線を表示させない*/
  border-style: none;
  background-color: rgba(0,0,0,0);
}

.stars i {
  color: #FFA500;
  -webkit-text-stroke: 0.5px #000;
}

.rate {
  font-size: 20px;
  font-weight: bold;
  -webkit-text-stroke: 0.5px white;
}

.information a {
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 23px;/*文字サイズ*/
  text-decoration: none;/*下線を表示させない*/
  border-style: none;
  background-color: rgba(0,0,0,0);
  -webkit-text-stroke: 0.5px black;
}


.favorite {
  color: red;
}

.unfavorite {
  color: grey;
}

.instructor {
  margin: 0 40px 50px 40px;
}

.instructor h4.instructor-head{
  font-family: 'Raleway', sans-serif;
  margin: 15px 0 20px 0;
  font-weight: 500;
  font-size: 22px;
  word-break: break-all
}

.instructor img {
  box-shadow: 3px 3px 4px gray;
}

.information {
  margin-bottom: 30px;
}

.profile {
  border-top: solid #1e366a 1px;/*上のボーダー*/
  border-bottom: solid #1e366a 1px;/*下のボーダー*/ 
}

.instructor table {
  position: relative;
  padding-inline-start: 0;
  padding: 0 10%;
}

th {
  padding-top: 10px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel {
  width: 80%;
  margin: 30px auto;
}

.btn {
  margin: -5px 0 20px 0;
}

.panel a {
  font-size: 12px;
}

