.lesson_index {
  background: url("/images/lesson_index.jpg") center center fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.content {
  padding-top: 60px;
  background: #fcfcfc;
}

.card {
  margin: 30px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-content {
  padding: 15px 15px 30px 15px;
  height: 210px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 12px;
}

.profile p {
  margin-bottom: 0;
  margin-left: 17px;
}

td {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.td1 {
  -webkit-line-clamp: 3;
}

.td2 {
  -webkit-line-clamp: 3;
}

.td3 {
  -webkit-line-clamp: 1;
}

.example {
  position: relative;
}

.example a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 89%;
  left: 91%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 23px;/*文字サイズ*/
  text-decoration: none;/*下線を表示させない*/
  border-style: none;
  background-color: rgba(0,0,0,0);
}

.favorite {
  color: red;
}

.unfavorite {
  color: white;
}