.point_index {
  background: url("/images/point_index.jpg") no-repeat center center fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.content {
  padding-top: 50px;
  padding-bottom: 60px;
}

th {
  text-align: center;
}

td {
  vertical-align: middle;
}

.no-info {
  margin: 110px 0;
}