<%= stylesheet_link_tag 'session_new', media: 'all' %>

<div id="title" class="session_new">
  <div class="slogans">
		<div class="slogan">
		  Sign In
		</div>
		<div class="secondary-slogan">
			ログイン
		</div>
	</div>
</div>

<div class="content">
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <%= render 'form' %>
        <div class="fogot-password text-center">
          <%= link_to 'パスワードを忘れた方はこちら', new_password_reset_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
   $('input:visible').eq(0).focus();
</script>